<footer id="footer" class="footer bg-indigo-darkest">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12 text">
                <h4 class="company-name">ÖREN ADRA CLUB</h4>
                <p>Adra Club Apart Tatil Evleri'nde, asırlık ağaçların arasında, mangal ve hamak keyfine
                                                                                                    					doyamayacaksınız ve Adra Club'dan vazgeçemeyeceksiniz.
                </p>
            </div>

            <div class="col-lg-3 col-md-6 item">
                <h4>LİNKLER</h4>
                <ul class="list-unstyled">
                    <li>
                        <a href="{{ site.baseurl }}/tesisimiz">Tesisimiz</a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}/aktiviteler">Aktiviteler</a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}/oren">Ören</a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}/hakkimizda">Hakkımızda</a>
					</li>
					<li>
                        <a href="{{ site.baseurl }}/covid19-bilgilendirme">Covid-19 Bilgilendirme</a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}/kullanim-kosullari">Kullanım Koşulları</a>
					</li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 text">
                <h4>BİZİ TAKİP EDİN</h4>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://facebook.com/{{ site.facebook_username }}">
                            <i class="fa fa-facebook"></i>
                            Facebook</a>
                    </li>
                    <li>
                        <a href="https://instagram.com/{{ site.instagram_username }}">
                            <i class="fa fa-instagram"></i>
                            Instagram</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 text">
                <h4>BİLGİ VE REZERVASYON</h4>
                <p>
                    <strong>Adra Club Telefon:</strong>
                    +90 (266) 416 394<br>
                        <strong>Gülfide (Gündoğdu) Işık:</strong>
                        +90 (537) 456 9779<br>
                            <strong>Mustafa Işık:</strong>
                            +90 (532) 415 7070<br>
                                <strong>Email:</strong>
                                bilgi@adraclub.com
                            </p>
                            <h4>ADRES</h4>
                            <p>
                                Ören Mahallesi Esen Sokak No:9</br>
                            10700 Ören/Burhaniye, Türkiye
                        </p>
                    </div>


                </div>
            </div>
        </footer>

        <footer class="footer footer-sub py-2 border-top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-auto small mt-lg-0">
                        Copyright ©
                        {{ site.time | date: '%Y' }}
                        <a href=".">{{ site.author }}</a>. All rights reserved.
                    </div>
                </div>
            </div>
        </footer>

        <a href="#page-top" class="back-to-top js-scroll-trigger">
            <i class="fa fa-chevron-up"></i>
        </a>
