<!--==========================
    Header
  ============================-->
<header id="header">
	<div class="header-top bg-indigo-darkest">
		<div class="container">
			<div class="d-flex p-0">
				<div class="p-0 header-top-left text">
					<ul>
						<li><a href="https://facebook.com/{{ site.facebook_username }}"><i class="fa fa-facebook"></i></a></li>
						<li><a href="https://twitter.com/@{{ site.twitter_username }}"><i class="fa fa-twitter"></i></a></li>
						<li><a href="https://instagram.com/{{ site.instagram_username }}"><i class="fa fa-instagram"></i></a></li>
					</ul>
				</div>
				<div class="p-0 ml-auto header-top-right text">
					<a href="tel:+90 (532) 415 7070"><span class="fa fa-phone"></span> <span class="text">0 (532) 415
							7070</span></a>
					<a href="mailto:bilgi@adraclub.com"><span class="fa fa-envelope"></span> <span
							class="text">bilgi@adraclub.com</span></a>
				</div>
			</div>
		</div>
	</div>
	<!-- Navigation -->
	<nav class="navbar navbar-dark navbar-expand-lg">
		<div class="container">
			<a class="navbar-brand js-scroll-trigger" href="{{ site.url }}">Adra Club Tatil Evleri</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
				aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				{% include menu.html %}
			</div>
		</div>
	</nav>
</header><!-- #header -->