<section class="gallery">
    <div class="row">
        {% for file in site.static_files %}
        {% if file.path contains include.folder %}
        {% if file.extname == '.jpg' or file.extname == '.jpeg' or file.extname == '.JPG' or file.extname == '.JPEG' %}{% assign filenameparts = file.path | split: "/" %}{% assign filename = filenameparts | last | replace: file.extname,"" %}
        <div class="col-md-6 col-lg-4">
            <a href="{{ file.path }}">
                <img class="img-thumbnail img-fluid" src="{{ file.path }}" alt="" class="rounded">
            </a>
        </div>
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>
</section>