<section class="gallery">
    <div class="row">
        {% for file in site.static_files %}
        {% if file.path contains include.folder %}
        {% if file.extname == '.jpg' or file.extname == '.jpeg' or file.extname == '.JPG' or file.extname == '.JPEG' %}{% assign filenameparts = file.path | split: "/" %}{% assign filename = filenameparts | last | replace: file.extname,"" %}
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card p-1">
                <a href="{{ file.path }}">
                    <img src="{{ file.path }}" alt="" class="rounded">
                </a>
            </div>
        </div>
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>
</section>