<section class="photo-gallery gallery">
    <div class="container">
        <div class="row photos">
            {% for file in site.static_files %}
            {% if file.path contains include.folder %}
            {% if file.extname == '.jpg' or file.extname == '.jpeg' or file.extname == '.JPG' or file.extname == '.JPEG' %}{% assign filenameparts = file.path | split: "/" %}{% assign filename = filenameparts | last | replace: file.extname,"" %}
            <div class="col-md-4">
                <a href="{{ site.baseurl }}{{ file.path }}" data-lightbox="photos">
                    <figure class="card mb-4 box-shadow" style="background-image:url('{{ site.baseurl }}{{ file.path }}');"></figure>
                </a>
            </div>
            {% endif %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>