<!-- Modal -->
<div aria-labelledby="covidInfoLabel" class="modal right fade" id="covidInfo" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Covid-19 Hakkında Bilgilendirme</h5>
                <button aria-label="Kapat" class="close" data-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <h3>Biz Hazırız</h3>
                <h4>Covid-19'dan uzak Alman malı Biyosidal Belgeli dezenfektelerle korunan Tatil Evlerimize bekliyoruz.</h4>
                <p>Tüm dünyaca etkilenen salgın hastalıktan (Pandemi) işletmemiz; değerli siz misafirlerimizin en sağlıklı ve huzur dolu tatil yapabilmesi için en kaliteli dezenfektelerle Tatil Evlerimizi arındırıyoruz.</p>
                <p>Covid-19 ile ilgili 14 temel kuralları evlerimize astık. Bunlara uyulmasını önemle rica ediyoruz.</p>
                <p>Covid-19 salgınından dolayı evlerimize giriş ve çıkış saatlerinde değişiklik yapmak zorunda kaldık.</p>
                <p>Bu özel durumdan dolayı anlayışınıza şimdiden teşekkür ederiz.</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-white mr-auto" data-dismiss="modal" type="button">Kapat</button>
                <a class="btn btn-primary" href="/covid19-bilgilendirme">Covid-19 Bilgilendirme Sayfası</a>
            </div>
        </div>
    </div>
</div>
<!-- modal -->
