<!--==========================
  Navigation
============================-->
<header id="header">
  <div class="container-fluid">

    <div id="logo" class="pull-left">
      <h1><a href="{{site.baseurl}}/" class="scrollto">Adra Club</a></h1>
    </div>

    <!-- <div class="top-contact float-right">
      <i class="fa fa-phone-square"></i> <span>Call us today</span>0 (536) 000 0000
    </div> -->

    <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="{{site.baseurl}}/">Home</a></li>
          <li><a href="{{site.baseurl}}/about.html">About Us</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    
  </div>
</header><!-- #header -->
