<div class="newsletter-subscribe bg-indigo text-white"
    style="background-image: url('./assets/images/call-to-action-bg.jpg')">
    <div class="col-md-6 mx-auto">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Subscribe for our Newsletter</h2>
                <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh
                    erat,
                    pellentesque ut laoreet vitae. </p>
            </div>
            <form class="form-inline" method="post">
                <div class="form-group"><input class="form-control bg-white" type="email" name="email"
                        placeholder="Your Email">
                </div>
                <div class="form-group"><button class="btn bg-indigo-darker text-white" type="submit">Subscribe
                    </button></div>
            </form>
        </div>
    </div>
</div>