<section id="reservation" class="reservation bg-indigo text-white">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 py-5">
                <div class="intro text-center">
                    <h3 class="pt-5">Acil Bilgi ve Rezervasyon</h3>
                    <p>
                        <strong>Adra Club Telefon:</strong> +90 (266) 416 394<br>
                        <strong>Gülfide (Gündoğdu) Işık:</strong> +90 (537) 456 9779<br>
                        <strong>Mustafa Işık:</strong> +90 (532) 415 7070<br>
                        <strong>Email:</strong> bilgi@adraclub.com
                    </p>
                    <h3>Adresimiz</h3>
                    <p>
                        Ören Mahallesi Esen Sokak No:9</br>
                        10700 Ören/Burhaniye, Türkiye
                    </p>
                </div>
            </div>

            <!-- Contact form -->
            <div class="col-lg-6 reservation-form p-5 text-center">
                <h3 class="pt-5">İletişim Formu</h3>
                <p>Formu Doldurun Biz Sizi Arayalım</p>

                <form name="sentMessage" id="contactForm" action="https://formspree.io/ahmetcangir07@gmail.com"
                    method="POST" novalidate>
                    <div class="form-row">
                        <div class="control-group col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Ad Soyad" id="name" required
                                    data-validation-required-message="Lütfen adınızı giriniz.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group col-md-6">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="E-Posta Adresi" id="email"
                                    required data-validation-required-message="Lütfen e-posta adresinizi giriniz.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group col-xs-12">
                            <input type="tel" class="form-control" placeholder="Telefon Numarası" id="phone" required
                                data-validation-required-message="Lütfen telefon numaranızı giriniz.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group">
                            <textarea rows="5" class="form-control" placeholder="Mesajınız" id="message" required
                                data-validation-required-message="Lütfen iletmek istediğiniz mesajınızı giriniz."></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn bg-indigo-darker text-white text-uppercase"
                            id="sendMessageButton">Hemen Gönder</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>