<!-- JavaScript Libraries -->
<script src="{{site.baseurl}}/assets/vendor/jquery/jquery.min.js"></script>
<script src="{{site.baseurl}}/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="{{site.baseurl}}/assets/vendor/easing/easing.min.js"></script>
<script src="{{site.baseurl}}/assets/vendor/superfish/hoverIntent.js"></script>
<script src="{{site.baseurl}}/assets/vendor/superfish/superfish.min.js"></script>
<script src="{{site.baseurl}}/assets/vendor/wow/wow.min.js"></script>
<script src="{{site.baseurl}}/assets/vendor/waypoints/waypoints.min.js"></script>
<script src="{{site.baseurl}}/assets/vendor/baguettebox/baguetteBox.min.js"></script>

<script src="{{site.baseurl}}/assets/js/script.js"></script>