<!-- JavaScript Libraries -->
<script src="{{"/assets/vendor/jquery/jquery.min.js" | relative_url }}"></script>
<script src="{{"/assets/vendor/bootstrap/js/bootstrap.bundle.min.js" | relative_url }}"></script>

<script src="{{"/assets/vendor/easing/easing.min.js" | relative_url }}"></script>
<script src="{{"/assets/vendor/superfish/hoverIntent.js" | relative_url }}"></script>
<script src="{{"/assets/vendor/superfish/superfish.min.js" | relative_url }}"></script>
<script src="{{"/assets/vendor/wow/wow.min.js" | relative_url }}"></script>
<script src="{{"/assets/vendor/waypoints/waypoints.min.js" | relative_url }}"></script>
<script src="{{"/assets/vendor/baguettebox/baguetteBox.min.js" | relative_url }}"></script>

<script src="{{"/assets/js/script.js" | relative_url }}"></script>