/* Footer */
footer {
  color: #bbb;
  // background-color: $gray-800;
  text-align: left;

  background: linear-gradient(rgba(0, 142, 99, 0.5), rgba(0, 0, 0, 1)), url(../../images/blue-blur-color-932638.jpg) fixed center center;
  background-size: cover;

  a {
    color: #bbb;

    &:active,
    &:focus,
    &:hover {
      color: #fff;
    }
  }

  h4 {
    margin-top: 10px;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 18px;

    &.company-name {
      font-size: 24px;
      text-transform: uppercase;
    }
  }

  ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;

    a {
      border-bottom: 1px solid $gray-700;
      display: block;
      opacity: 0.6;
      padding: 5px 0;

      &:hover {
        opacity: 0.8;
      }

      &:active,
      &:focus,
      &:hover {
        text-decoration: none;
      }

      &:before {
        content: "\f054";
        font-family: FontAwesome;
        font-size: 12px;
        font-weight: normal;
        padding-right: 0.5em;
      }
    }
  }

  p {
    font-size: 14px;
  }

  @media (max-width:767px) {
    .item:not(.social) {
      padding-bottom: 20px;
    }
  }

  .item.text {
    margin-bottom: 36px;
  }

  @media (max-width:767px) {
    .item.text {
      margin-bottom: 0;
    }
  }

  .item.text p {
    opacity: 0.6;
    margin-bottom: 0;
  }

  .item.social {
    text-align: left;
    padding: 0;
  }

  @media (max-width:991px) {
    .item.social {
      margin-top: 20px;
    }
  }

  .item.social>a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.4);
    margin: 0 12px 0 0;
    color: #fff;
    opacity: 0.75;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }

  .item.social>a:hover {
    opacity: 0.9;
    background-color: #007ACC;
  }

  .newsletter {
    margin-bottom: 30px;

    input[type="email"] {
      border: 0;
      padding: 6px 8px;
      width: 65%;
    }

    input[type="submit"] {
      background: #007ACC;
      border: 0;
      width: 35%;
      padding: 6px 0;
      text-align: center;
      color: #fff;
      transition: 0.3s;
      cursor: pointer;

      &:hover {
        background: #007ACC;
      }
    }
  }

  .bottom {
    background: #010101;

    p,
    a {
      font-size: 14px;
      color: #666;
    }
  }
}


.interview-info-banner {
  background: linear-gradient(140deg, #193b84 15%, #037bc1);
  color: #fff;
  width: 100%
}



.interview-info-banner .banner-heading {
  font-size: 18px;
  font-weight: 700
}

.interview-info-banner .banner-text {
  font-size: 13px;
  padding-top: 15px
}

@media screen and (max-width:767px) {
  .interview-info-banner .banner-wrapper {
      flex-direction: column;
      margin: 10px auto
  }
  .interview-info-banner .banner-block {
      width: 100%;
      margin: 15px 0
  }
  .interview-info-banner .banner-text {
      padding-top: 10px
  }
}