body {
    background: #fff;
    color: #666666;
    font-family: "Open Sans", sans-serif;
  }
  
  a {
    color: #18d26e;
    transition: 0.5s;
  }
  
  a:hover, a:active, a:focus {
    color: #18d36e;
    outline: none;
    text-decoration: none;
  }
