.footer {
    // font-size: $font-size-base;
    // @include sans-serif-font;

    h4 {
        color: $gray-300;
        text-transform: uppercase;
        font-size: $font-size-sm;
        font-weight: 700;
        @include sans-serif-font;
    }

    .footer-sub {
        font-size: $font-size-sm;
        color: $gray-900;
    }

    ul {
        li {
            padding: 0 0 5px;
            
            a {
                text-decoration: none;

                &:hover {
                    color: $gray-200;
                }
            }
            i {
                width: 16px;
                padding: 0 5px 0 0;
            }
        }

    }
}