// Custom horizontal rules
hr.divider {
    max-width: 3.25rem;
    border-width: 0.2rem;
    border-color: $primary;
}

hr.light {
    border-color: $white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    width: 100%;
}