header {
    padding: 156px 0 100px;

    margin-bottom: 50px;
    background: no-repeat center center;
    background-color: $gray-600;
    background-attachment: scroll;
    position: relative;
    @include background-cover;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: $gray-900;
        opacity: 0.5;
    }

    h1 {
        @include serif-font;
        font-size: 1rem * 1.8;
        font-weight: 900;
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        h1 {
            font-size: 1rem * 2;
        }
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        h1 {
            font-size: 1rem * 2.5;
        }
    }

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        h1 {
            font-size: 1rem * 3;
        }
    }

    span.subheading {
        @include sans-serif-font;
        font-size: 24px;
        opacity: 0.7;
        line-height: 1.1;
        display: block;
    }
}