/* Header */
#header {
    background: rgba(0, 0, 0, 0);
    // padding: 30px 0;
    // height: 92px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 997;
    color: #fff;
    @include transition-all;

    .navbar {
        padding: 1rem;
        @include transition-all;

        .navbar-brand {
            font-size: 1.8rem;
            font-weight: 900;
            @include transition-all;
        }

        ul.navbar-nav {
            li.nav-item {
                a.nav-link {
                    // font-size: 1rem * 1.1;
                }
            }
        }
    }
}

#header.header-scrolled {
    .navbar {
        padding: 0.5rem 1rem;

        .navbar-brand {
            font-size: 1.5rem;
            font-weight: 700;
        }
    }

    .navbar-dark {
        background: rgba(0, 0, 0, 0.8);
    }
}