/* Header */
#header {
    // background: rgba(255, 255, 255, 0.9);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 997;
    color: #fff;
    @include transition-all;

    .navbar {
        padding: 1rem;
        @include transition-all;

        .navbar-brand {
            font-size: 1.8rem;
            font-weight: 900;
            @include transition-all;
            text-shadow: 1px 2px 4px #000000;
        }

        ul.navbar-nav {
            li.nav-item {
                a.nav-link {
                    color: #fff;
                    text-shadow: 1px 2px 4px #000000;
                }
            }
        }
    }
}

#header.header-scrolled {
    .navbar {
        padding: 0.5rem 1rem;

        .navbar-brand {
            font-size: 1.5rem;
            font-weight: 700;
        }
    }

    .navbar-dark {
        background: rgba(0, 0, 0, 0.7);
    }
}