// Styling for the masthead
.masthead {
    padding: 150px 0 100px;
    position: relative;
    background-size: cover;
    background: no-repeat center center;
    background-attachment: scroll;
    position: relative;
    @include background-cover;

    .site-heading {
        height: 100%;
    }

    .page-heading,
    .post-heading,
    .site-heading {
        color: white;
        text-shadow: 1px 2px 4px #000000;

        h1 {
            padding: 20rem auto;
        }

        .fa-star {
            color: $orange;
        }

        span.desc {
            @include handwriting-font;
        }
    }

    .page-heading,
    .site-heading {
        h1 {
            @include sans-serif-font;
            font-size: 1rem * 1.8;
            font-weight: 900;
        }

        .desc {
            @include sans-serif-font;
            font-size: 1rem * 1.6;
            font-weight: 500;
        }

        .subheading {
            @include sans-serif-font;
            font-size: 1rem;
            line-height: 1.5;
            display: block;
            text-shadow: 1px 2px 4px #000;
        }

        // Medium devices (tablets, 768px and up)
        @media (min-width: 768px) {
            h1 {
                font-size: 1rem * 2;
            }

            .desc {
                @include sans-serif-font;
                font-size: 1rem * 1.8;
            }

            .subheading {
                font-size: 1rem * 1.4;
            }
        }

        // Large devices (desktops, 992px and up)
        @media (min-width: 992px) {
            h1 {
                font-size: 1rem * 2.5;
            }

            .desc {
                @include sans-serif-font;
                font-size: 1rem * 2.1;
            }

            .subheading {
                font-size: 1rem * 1.6;
            }
        }

        // Extra large devices (large desktops, 1200px and up)
        @media (min-width: 1200px) {
            h1 {
                font-size: 1rem * 3;
            }

            .desc {
                @include sans-serif-font;
                font-size: 1rem * 2.5;
            }

            .subheading {
                font-size: 1rem * 2;
            }
        }



        .btn {
            opacity: 0.9;
            @include sans-serif-font;
            @include transition-all;
            font-weight: 700;
            // text-transform: uppercase;
            border: none;
            border-radius: 2rem;
            padding: 1rem 3rem;
            border: 3px solid rgba($gray-100, 0.5);
        }

    }

    .post-heading {

        .meta,
        .subheading {
            line-height: 1.1;
            display: block;
        }

        .subheading {
            font-size: 24px;
            font-weight: 600;
            margin: 10px 0 30px;
            @include sans-serif-font;
        }

        .meta {
            font-size: 20px;
            font-weight: 300;
            font-style: italic;
            @include serif-font;

            a {
                color: $white;
            }
        }
    }
}

.masthead-page {
    background: no-repeat top center;
}