// Mixins
// Bootstrap Button Variant
@mixin transition-all() {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

@mixin background-cover() {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@mixin serif-font() {
    font-family: 'Montaga', serif;
}

@mixin sans-serif-font() {
    font-family: 'Source+Sans+Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@mixin handwriting-font() {
    font-family: 'Kaushan Script', cursive;
}