.reservation {
    position: relative;
    background-size: cover;
    background-color: $gray-600;
    background-attachment: scroll;
    background: linear-gradient(rgba(0, 142, 99, 0.1), rgba(0, 0, 0, 0.1)),
        url(../images/bg-about.jpg) fixed center;
    @include background-cover;
    // padding: 60px 0;

    .reservation-form {
        background: rgba(255, 255, 255, 0.1);
    }

    .overlay {
        background-color: #000;
        opacity: 0.5;
    }
}

.reservation p {
    // font-size: 1rem * 1.2;
    font-weight: 300;
    line-height: 1.5;
    opacity: 0.6;
    // @include sans-serif-font;
}

.reservation h3 {
    @include sans-serif-font;
    font-weight: 500;
}