.reservation {

    background-color: $gray-600;
    background-attachment: scroll;
    position: relative;
    @include background-cover;

    background: linear-gradient(rgba(0, 142, 99, 0.1), rgba(0, 0, 0, 0.1)),
        url(../images/bg-about.jpg) fixed center center;
    background-size: cover;
    // padding: 60px 0;

    .reservation-form {
        background: rgba(255, 255, 255, 0.1);
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba($gray-900, $overlay-opacity);
    }
}

.reservation p {
    // font-size: 1rem * 1.2;
    // line-height: 1.5;
    opacity: 0.6;
    @include sans-serif-font;
}

.reservation h3 {
    @include sans-serif-font;
}