$overlay-opacity: .8;



// @import '../variables';
@import '../variables';
@import 'mixins';
@import 'back';
@import 'features';
@import 'header';
@import 'main';
@import 'masthead';
@import 'reservation';
@import 'footer';

// @import 'masthead';

.relative {
    position: relative;
}

.blockquote-custom {
    position: relative;
    font-size: 1.1rem;
}

.blockquote-custom-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -25px;
    left: 50px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    // background-color: #000;
    background-image: url(../img/overlay.svg);

    // background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
    background-size: cover;
    z-index: 0;
    opacity: 0.5;
}