$overlay-opacity: 0.8;

// @import '../variables';
@import "../variables";
@import "mixins";
@import "global";
@import "back";
// @import 'features';
@import "header";
@import "main";
@import "gallery";
@import "masthead";
@import "reservation";
@import "footer";
@import "modal";

// @import 'masthead';

.relative {
  position: relative;
}

.blockquote-custom {
  position: relative;
  font-size: 1.1rem;
}

.blockquote-custom-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -25px;
  left: 50px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url(../img/overlay.svg);
  // background-image: url(../img/overlay.svg), linear-gradient(to top, #000000 0%, #e3eeff 99%, #e3eeff 100%);
  background-size: cover;
  z-index: 0;
  opacity: 0.5;
}

.features {
  padding: 50px 0;

  position: relative;
  background-size: cover;
  background: no-repeat center center;
  background-attachment: scroll;
  position: relative;
  @include background-cover;

  background-image: url(../img/overlay.svg);
  // background-image: url(../img/overlay.svg), linear-gradient(to top, #000000 0%, #e3eeff 99%, #e3eeff 100%);

  .intro {
    margin-bottom: 30px;

    h3 {
      @include handwriting-font;
      font-size: 1.75rem;
    }

    p {
      opacity: 0.7;
      font-size: 1rem;
      font-weight: 400;
      // font-style: italic;
      @include sans-serif-font;
      text-shadow: 1px 1px 1px #000000;
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
      h3 {
        font-size: 1.75rem;
      }

      p {
        font-size: 1.25rem;
      }
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
      h3 {
        font-size: 1.75rem;
      }

      p {
        font-size: 1.25rem;
      }
    }

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
      h3 {
        font-size: 1.75rem;
      }

      p {
        font-size: 1.4rem;
      }
    }
  }

  .figure,
  .figure img {
    margin-bottom: 0;
  }
}

.main iframe {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 400px;
  border: none;
}
