---
layout: base
---

<!-- Page Header -->
<header class="masthead masthead-page shadow" {% if page.background %}
    style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')" {% endif %}>
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-12 mx-auto">
                <div class="page-heading">
                    <h1>{{ page.title }}</h1>
                    {% if page.description %}
                    <span class="subheading">{{ page.description }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>

<main class="main flex-fill">
    <div class="col-md-10 col-lg-8 mx-auto my-3 my-md-5">
        <div class="container">
            <div class="row row-cards">
                {{ content }}
            </div>
        </div>
    </div>
</main>

{% include reservation.html %}